@font-face {
  font-family: 'Hanken Grotesk';
  src:
    url('../fonts/HankenGrotesk-Regular.woff'),
    url('../fonts/HankenGrotesk-Black.woff'),
    url('../fonts/HankenGrotesk-Bold.woff'),
    url('../fonts/HankenGrotesk-ExtraLight.woff'),
    url('../fonts/HankenGrotesk-Light.woff'),
    url('../fonts/HankenGrotesk-Medium.woff'),
    url('../fonts/HankenGrotesk-SemiBold.woff');
}

$font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;

* {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}